@model Database_reader_V2.RouteConfig

<a>CIAOOO</a>
<!-- parte relativa alla lettura pdf
<html>
<head>

</head>
<body>
    <canvas id="pdf_canvas"> </canvas>
    <script>
        pdfjsLib.getDocument('/Pdf/1930201.pdf');
        doc.getPage(1).then(page => {
            var mycanvas = document.getElementsById("pdf_canvas");
            var context = mycanvas.getContext("2d");

            var viewport = page.getViewPort(1);
            mycanvas.width = viewport.width;
            mycanvas.height = viewport.height;

            page.render({
                canvasContext: context,
                viewport
            });
            ;
    </script>
</body>
</html>
    -->
